{% extends 'base.html' %}

{% block content %}
<div >

  <img src="https://pyxis.nymag.com/v1/imgs/f62/a7e/da78163010b8984f288901b724d937fff5-mens-white-tees-lede.2x.rsocial.w600.jpg" 
  alt="" class="mx-auto d-block mt-5" >
  <h1 class="carousel-caption text-center"> SHOP NOW NEW DEALS! <button type="button" href="" class="btn btn-primary">Shop</button>  </h1>
  
</div>


<hr>

<div class="container text-center mt-5 ">

<h1>Why us?</h1>
<p class="pt-3">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

</div>

<h1 class="text-center pt-5"> Locations </h1>


<div id="carouselExampleControls" class="carousel slide pt-5" data-bs-ride="carousel">
<div class="carousel-inner">
  <div class="carousel-item active">
    <img src="https://www.google.com/maps/vt/data=111s2EPalJWv-uvNeznZCbADYwxhenW2k7C8mH3WTuwnMPx0o6Z2AJOLuzwVJT_kVOq8zohftrEFvth3LK-e_vCEMQSWjLuuCGMf6uF2d2K9zDuc4nJfcunygMj0dgsWw1J4ucmoTxOQSGMgSjzfkLhQ_7fwHE--Xtvs5iSHuR0hMFkIm8-fa78JFUZIWAbgIsZz6s-u5JusZjGjyW_PEN2SKqKQc2_Tfcuht-_sl034ZuEf60IvGHrr6dGDLA" class="d-block w-100" alt="...">
  </div>
  <div class="carousel-item">
    <img src="https://www.google.com/maps/vt/data=qqdZcBRc6Pp2VbZADqo2hJkuKCwVMtCS8fbF2ltGoDj8lcyafwUOSrMLIhg2ZVW9oqxXkmh4fY63YFC9Zj5H8u8tOCVYFVud4Duzbwn-dFwXFcVbBl3DJf383-JcTQ-VZQIWN_P2cUPFoo10-WIOfFZW9MOLbgL_W9heSNoCA6ucjdh4AjGyNak64Ke5EiVuMSoQ5tRBTUoIEFFZ4D1LUKPl2AXBvFxVfVVXZTupLp3B7qnLPmrCCBn658oVDg" class="d-block w-100" alt="...">
  </div>
  <div class="carousel-item">
    <img src="https://www.google.com/maps/vt/data=ZmxB2ptpgc2jLQL0e-uovgpkDJ5ItjZwhKG3erAOf4pKsi9MqJD3PRdcL-wp_TawoagQ9NY68wsIQpBSSxVReOxQh6eNpzrhb4tpDDJ1rMgGA-Vnfmw4CyNvHdxUpvhRB8WglFiruLgtLI4XK6r4PWwhUlA28TufYNbdQYEvnmIRcaTiAwq4Y2pld6cWDeUldLPtmrWSnVsMdgZlQGRwsUAd0JB_xVZyzKATBFhcX_DB5qqagLbQoN2m7w" class="d-block w-100" alt="...">
  </div>
</div>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
</button>
</div>

<hr class="mt-5" >


<h1 class="container text-center pt-5">
Products
</h1>



    


{% if current_user.is_authenticated %}


    <div >

        <img src="https://pyxis.nymag.com/v1/imgs/f62/a7e/da78163010b8984f288901b724d937fff5-mens-white-tees-lede.2x.rsocial.w600.jpg" 
        alt="" class="mx-auto d-block mt-5" >
        <h1 class="carousel-caption text-center"> SHOP NOW NEW DEALS! <button type="button" href="" class="btn btn-primary">Shop</button>  </h1>
        
    </div>


    <h4  class="text-center mt-5 mb-5"  >Welcome {{ current_user.username.title() }}, here are our latest products!</h4>

    <hr>
    


    


    <div id="carouselExampleControls" class="carousel slide pt-5" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://www.google.com/maps/vt/data=111s2EPalJWv-uvNeznZCbADYwxhenW2k7C8mH3WTuwnMPx0o6Z2AJOLuzwVJT_kVOq8zohftrEFvth3LK-e_vCEMQSWjLuuCGMf6uF2d2K9zDuc4nJfcunygMj0dgsWw1J4ucmoTxOQSGMgSjzfkLhQ_7fwHE--Xtvs5iSHuR0hMFkIm8-fa78JFUZIWAbgIsZz6s-u5JusZjGjyW_PEN2SKqKQc2_Tfcuht-_sl034ZuEf60IvGHrr6dGDLA" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://www.google.com/maps/vt/data=qqdZcBRc6Pp2VbZADqo2hJkuKCwVMtCS8fbF2ltGoDj8lcyafwUOSrMLIhg2ZVW9oqxXkmh4fY63YFC9Zj5H8u8tOCVYFVud4Duzbwn-dFwXFcVbBl3DJf383-JcTQ-VZQIWN_P2cUPFoo10-WIOfFZW9MOLbgL_W9heSNoCA6ucjdh4AjGyNak64Ke5EiVuMSoQ5tRBTUoIEFFZ4D1LUKPl2AXBvFxVfVVXZTupLp3B7qnLPmrCCBn658oVDg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://www.google.com/maps/vt/data=ZmxB2ptpgc2jLQL0e-uovgpkDJ5ItjZwhKG3erAOf4pKsi9MqJD3PRdcL-wp_TawoagQ9NY68wsIQpBSSxVReOxQh6eNpzrhb4tpDDJ1rMgGA-Vnfmw4CyNvHdxUpvhRB8WglFiruLgtLI4XK6r4PWwhUlA28TufYNbdQYEvnmIRcaTiAwq4Y2pld6cWDeUldLPtmrWSnVsMdgZlQGRwsUAd0JB_xVZyzKATBFhcX_DB5qqagLbQoN2m7w" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    
    <hr class="mt-5" >


    <h1 class="container text-center pt-5">
      Products
    </h1>

    {% for p in products %}

    <!-- MAIN -->

    <div class="card mt-5" style="width: 18rem;">
        <img src="https://www.freepnglogos.com/uploads/shoes-png/shoes-wasatch-running-3.png" class="card-img-top" alt="...">
        <div class="column">
        <div class="card-body">
          <h5 class="card-title"> {{ p.name }} </h5>
          <p class="card-text">{{ p.description }} {{ p.price }}  </p>
          <a href="{{ url_for('product_page', product_id=p.id) }}" class="btn btn-primary">See Details</a>
        </div>
        </div>
      </div>

    

    
      <!-- EXMAPLE -->

    <!-- <div class="card bg-primary text-white d-flex flex-column">
        <div class="card-header">
        {{ p.name }}
        </div>
        <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>{{ p.description }}</p>
            <footer class="blockquote-footer text-dark">{{ p.price }} on <cite title="Source Title">
            </cite></footer>
        </blockquote>
        </div> 
        <a href="{{ url_for('product_page', product_id=p.id) }}" class="btn btn-success">More Info</a>
    </div> -->

    

{% endfor %}
<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50 ">
  <div class=" text-center ">
    <small>Copyright &copy; Amazan</small>
  </div>
</footer>
</body> 

{% else %}


{% endif %}




{% endblock %}